<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <div class="title has-text-primary">
        <h1 class="title has-text-primary">Liste</h1>
      </div>
      <div class="list-menu">
        <div class="list-menu-item">
          <a class="list-menu-link" routerLink="/task-manager/create">
            <span>Neuer Task</span>
          </a>
        </div>
      </div>
      <button class="bouton is-primary">
        <i class="fa fa-plus"></i>New List
      </button>
    </div>
    <div class="task-list-container">
      <h1 class="title-task">Task</h1>
      <div class="task">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
          optio quia illo eum, repellat quo! Accusantium enim a ab harum,
          assumenda quis ad esse iste. Enim provident debitis cupiditate quis.
        </p>
      </div>
      <div class="task">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
          optio quia illo eum, repellat quo! Accusantium enim a ab harum,
          assumenda quis ad esse iste. Enim provident debitis cupiditate quis.
        </p>
      </div>
      <div class="task is-complete">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
          optio quia illo eum, repellat quo! Accusantium enim a ab harum,
          assumenda quis ad esse iste. Enim provident debitis cupiditate quis.
        </p>
      </div>
      <div class="task">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
          optio quia illo eum, repellat quo! Accusantium enim a ab harum,
          assumenda quis ad esse iste. Enim provident debitis cupiditate quis.
        </p>
      </div>
    </div>
  </div>
</div>
